
<h2>Загрузка файла</h2>
<%= form_tag do %>
  <%= hidden_field_tag "project_id", Project.find_by(identifier: params[:project_id]).id %>
  <div id="new-attachments">
    <%= render :partial => 'attachments/form' %>
  </div>
  <div>
    <%= submit_tag "Отправить", {method: 'post', } %>
  </div>
<% end %>